<html>
 <head>
  <title>APM Federated Search</title>
  <link rel="stylesheet" type="text/css" href="http://dezi.org/ui/example/dezi-ui.css" />
  <script type="text/javascript">var DEZI_SEARCH_URI = '[% c.uri_for('/api/search') %]';</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="//dezi.org/ui/example/jquery.ba-bbq.js" type='text/javascript'></script>
  <script src="//dezi.org/ui/example/dezi-ui-jquery.js" type='text/javascript'></script>
 </head>
 <body></body>
</html>
